body {
  font-family: sans-serif;
  background-color: WhiteSmoke;
}

.info-box {
  width: 30%;
  margin-top: 1em;
  margin-left: 0;
  margin-right: auto;
  border-size: 1px;
  border-style: inset;
}

.state-box {
  width: 30%;
  text-align: center;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.score-grid {
  display: grid;
  grid-template-columns: 5em 10em 10em 10em 10em 10em 10em;
  text-align: center;
}

.record-score-grid {
  display: grid;
  grid-template-columns: 5em 10em 10em 10em 10em 10em 10em;
  text-align: center;
}

.score-grid-head {
  border: 1px solid;
}

.score-grid-ascending {
  border: 1px solid;
  grid-column: 1 / 8;
  grid-row: 1 / 2;
}

.score-grid-data {
  border: 1px solid;
}

.score-grid-number {
  border: 1px solid;
  border-color: black;
  background-color: gray;
}

.card-group {
  display: flex;
  font-family: sans-serif;
  width: 40em;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center
}

.pickcard-group {
  display: flex;
  font-family: sans-serif;
/*  width: 40em;*/
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center
}

.number {
  margin: 1em auto;
  border-radius: 3px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  padding: 1em;
  width: 5em;
  text-align: center;
  background-color: gray;
}
.green {
  color: rgb(0, 255, 0);
}
.blue {
  color: rgb(0, 255, 0);
}
.red {
  color: rgb(255, 0, 0);
}
.yellow {
  color: rgb(255, 255, 0);
}
.cyan {
  color: rgb(0, 255, 255);
}
.magenta {
  color: rgb(255, 0, 255);
}

.none {
  color: rgb(0, 0, 0);
}

.italic{
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.card {
  margin: 1em auto;
  border-radius: 3px;
  /*box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);*/
  padding: 1em;
  width: 5em;
}

.ontextcard {
  margin: 1em auto;
  border-radius: 3px;
  /*box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);*/
  padding: 1em;
  width: 10em;
}

.card > div {
  text-align: center;
}

.card.use {
  background-color: rgb(177, 206, 177);
}

.card.pick {
  background-color: rgb(248, 248, 9);
}

.card.miss {
  background-color: rgb(255, 0, 0);
}

.ontextcard.use {
  background-color: rgb(177, 206, 177);
}

.ontextcard.pick {
  background-color: rgb(248, 248, 9);
}

.common {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}
.rare {
  box-shadow: 0 0 3px 1px rgba(255, 215, 0, 1);
}
.system {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 1);
}

.SEVEN {
  color: rgb(255, 0, 0);
}
.ELEVEN {
  color: rgb(0, 255, 0);
}

button {
  margin: 3em auto;
  display: block;
}

#score {
  font-size: 2rem;
  margin: 1em auto;
  text-align: center;
}

#highScore {
  border-size: 3px;
  border-style: outset;
  width: 50%
}

#recordScore {
  border-size: 3px;
  border-style: outset;
  width: 50%
}

#life {
  
}

#time {
  
}

#gameover {
  font-size: 3rem;
  color: rgb(255, 0, 0);
  text-align: center;
}

.deckListContainer {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.deckListContainer > div {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207 232 220);
  border: 2px solid rgb(79 185 227);
}