body {
  font-family: sans-serif;
  background-color: WhiteSmoke;
}

.score-grid {
  display: grid;
  grid-template-columns: 5em 5em 5em 5em 5em 5em 5em;
  text-align: center;
}

.score-grid-head {
  border: 1px solid;
}

.score-grid-data {
  border: 1px solid;
}

.card-group {
  display: flex;
  font-family: sans-serif;
  width: 40em;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center
}

.pickcard-group {
  display: flex;
  font-family: sans-serif;
/*  width: 40em;*/
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center
}

.number {
  margin: 1em auto;
  border-radius: 3px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  padding: 1em;
  width: 5em;
  text-align: center;
}
.number.green {
  color: rgb(0, 255, 0);
}
.number.blue {
  color: rgb(0, 255, 255);
}
.number.red {
  color: rgb(255, 0, 0);
}
.number.none {
  color: rgb(0, 0, 0);
}

.card {
  margin: 1em auto;
  border-radius: 3px;
  /*box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);*/
  padding: 1em;
  width: 5em;
}

.ontextcard {
  margin: 1em auto;
  border-radius: 3px;
  /*box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);*/
  padding: 1em;
  width: 10em;
}


.card > div {
  text-align: center;
}

.card.use {
  background-color: rgb(177, 206, 177);
}

.card.pick {
  background-color: rgb(248, 248, 9);
}

.ontextcard.use {
  background-color: rgb(177, 206, 177);
}

.ontextcard.pick {
  background-color: rgb(248, 248, 9);
}

.common {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}
.rare {
  box-shadow: 0 0 3px 1px rgba(255, 215, 0, 1);
}
.system {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 1);
}

.SEVEN {
  color: rgb(255, 0, 0);
}
.ELEVEN {
  color: rgb(0, 255, 0);
}

button {
  margin: 1em auto;
}